<main>
  <div class='row gy-5'>
    <h1 class='text-center text-uppercase'>Hello world</h1>
    <h2 class='text-end text-lowercases'>Second</h2>
    <h3 class='text-capitalize'>Third 3 one two </h3>

    <hr />

    <div class='display-1'>Hello world</div>
    <div class='display-5'>Second</div>
    <div class='display-6'>Third</div>

    <hr />

    <div class='text-muted text-end'>Додатковий
      <span class='display-6'>текст</span></div>

    <hr />

    <button class='btn btn-primary'><span
        class='text-uppercase'
      >Button primary </span></button>

    <br />
    <br />
    <br />

    <div class='card'>
      <div class='card-body'>
        <div class='text-danger'>My text</div>
        <div class='text-muted'>My text</div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <button class='btn btn-secondary'>Додати</button>
    <button
      class='btn btn-outline-secondary'
    >Редагувати</button>
    <button
      class='btn btn-outline-warning'
    >Видалити</button>

    <hr />
    <div class='card'>
      <div class='card-body'>
        <button
          class='btn btn-secondary btn-lg'
        >Розмір</button>
        <button
          class='btn btn-secondary btn-md'
        >Розмір</button>
        <button
          class='btn btn-secondary btn-sm'
        >Розмір</button>
      </div>
    </div>

    <br />
    <br />

    <div class='card'>
      <div class='card-body'>
        This is content
      </div>
    </div>

    <hr />
    <section class='col-12'>
      <div class='card'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200.jpg'
          alt='photo'
        />
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Title</h5>
          <p>Hello world</p>
          <a href='#' class='btn btn-primary'>Open</a>
        </div>
      </div>
    </section>

    <section class='col-6'>
      <div class='card'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200.jpg'
          alt='photo'
        />
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Title</h5>
          <p>Hello world</p>
          <a href='#' class='btn btn-primary'>Open</a>
        </div>
      </div>
    </section>
    <section class='col-6'>
      <div class='card'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200.jpg'
          alt='photo'
        />
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Title</h5>
          <p>Hello world</p>
          <a href='#' class='btn btn-primary'>Open</a>
        </div>
      </div>
    </section>

    <br />
    <br />
    <br />

    <ul class='list-group'>
      <li class='list-group-item'>
        <ul class='list-group'>
          <li class='list-group-item'>Item 1.1</li>
          <li class='list-group-item'>Item 1.2</li>
        </ul>
      </li>
      <li class='list-group-item'>Item 1</li>
      <li class='list-group-item'>Item 2</li>
      <li class='list-group-item'>Item 3</li>
    </ul>
    <br />
    <br />
    <br />

    <div class='card'>
      <div class='card-header'>
        <div class='display-6'>Menu</div>
      </div>

      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          <a href='#' class='btn btn-link'>Home page</a>
        </li>
        <li class='list-group-item'>
          <a href='#' class='btn btn-link'>Summary page</a>
        </li>
        <li class='list-group-item'>
          <a href='#' class='btn btn-link'>Skills page</a>
        </li>
      </ul>
      <div class='card-footer'>
        <button class='btn btn-dark btn-sm'>Update list</button>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>
            #id
          </th>
          <th>
            name
          </th>
          <th>
            age
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>1</th>
          <td>John</td>
          <td>35</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Ivan</td>
          <td>29</td>
        </tr>
      </tbody>
    </table>

    <br />
    <br />
    <br />

    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>This is title</h6>
        <p>This is content of our box</p>
        <button class='btn btn-warning'>Click!</button>
      </div>
      <div class='card-footer text-center'>Footer</div>
    </div>

    <br />
    <br />
    <br />

    <div class='row g-5'>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <hr />
    <hr />
    <div class='row g-4'>
      <div class='col-12'>
        <div class='nav nav-tabs'>
          <div class='nav-item'>
            <a href='#' class='nav-link'>Home page</a>
          </div>
          <div class='nav-item'>
            <a
              href='#'
              class='nav-link disabled'
            >Catalog</a>
          </div>
          <div class='nav-item'>
            <a href='#' class='nav-link active'>FAQ</a>
          </div>
        </div>
      </div>

      <div class='col-4'>
        <div class='card'>
          <div class='card-body'>
            <div class='nav flex-column'>
              <div class='nav-item'>
                <div class='card'>
                  <a href='#' class='nav-link'>Home page</a>
                </div>
                <br />
              </div>
              <div class='nav-item'>
                <div class='card'>
                  <a
                    href='#'
                    class='nav-link disabled'
                  >Catalog</a>
                </div>
              </div>
              <div class='nav-item'>
                <a href='#' class='nav-link active'>FAQ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-8'>
        123
      </div>
    </div>

    <div class='col-8'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>Pc ta Nout</a>
            </li>
            <li class='breadcrumb-item'>
              Mac
            </li>
          </ol>
        </div>

        <div class='col-12'>
          <h6>Hello world
            <span
              class='badge text-bg-danger rounded-pill'
            >NEW</span></h6>
        </div>
      </div>

      
      <div class='col-12'></div>
      <button class="btn btn-danger mb-2">Press me!</button>

          <div class='alert alert-danger'>Eeeeee!
                <h6>Hello world
            <span
              class='badge text-bg-danger rounded-pill'
            >NEW</span></h6>
        </div>
        
      </div>
          </div>        
      </div>
    </div>
  

    <div class="p-3">
      <div class="row g-5">
        <div class="col-12">
          <div>
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error, put your correct email</div>
          </div>
          <div>
          <div class="col-12"> 
            <label class="form-label">Email address</label>
              <div class="row">
              <div class="col-4">
                <input type="color" class="form-control">
              </div>
            </div>
            <div class="form-text text-danger">Error, put your correct email</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="col-12">
      <label class="form-label">Select role</label>
      <select class="form-select">
        <option selected>Open list</option>
        <option value="1">Admin</option>
        <option value="2">User</option>
      </select>
      <div class="form-text text-danger">Error, put your correct email</div>
    </div>


    <div>
      <hr>
    </div>

    <div class="col-12">
      <div class="form-check">
        <label class="form-check-label">Apple</label>
        <input name="food" type="checkbox" class="form-check-input"></inpute>
      </div>
      <div class="form-check">
        <label class="form-check-label">Orange</label>
        <input name="food" type="checkbox" class="form-check-input"></inpute>
      </div>
      <div class="form-check">
        <label class="form-check-label">Banana</label>
        <input name="food" type="checkbox" class="form-check-input"></inpute>
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="col-12">
      <div class="form-check">
        <label class="form-check-label">Apple</label>
        <input name="food" type="radio" class="form-check-input"></inpute>
      </div>
      <div class="form-check">
        <label class="form-check-label">Orange</label>
        <input name="food" type="radio" class="form-check-input"></inpute>
      </div>
      <div class="form-check">
        <label class="form-check-label">Banana</label>
        <input name="food" type="radio" class="form-check-input"></inpute>
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="col-12">
      <div class="form-label">Get bonus</div>

      <div class="form-check form-switch">
        <label class="form-check-label">Get bonus</label>
        <input name="food" type="checkbox" class="form-check-input"></input>
      </div>
      </div>

       <div class="form-check form-switch">
        <label class="form-check-label">Get bonus</label>
        <input name="food" type="checkbox" class="form-check-input"></input>
      </div>
      </div>

      
        <h1><i class="bi bi-arrow-up-right-square p-5"></i></h1>

        <button class="btn btn-primary"><i class="bi bi-arrow-up-right-square p-5 display-4"></i></button>


         <i class="fa-brands fa-slack fa-beat fa-lg" style="color: #320bde;"></i>

         <svg width="20px" xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#11ff00}</style><path d="M94.12 315.1c0 25.9-21.16 47.06-47.06 47.06S0 341 0 315.1c0-25.9 21.16-47.06 47.06-47.06h47.06v47.06zm23.72 0c0-25.9 21.16-47.06 47.06-47.06s47.06 21.16 47.06 47.06v117.84c0 25.9-21.16 47.06-47.06 47.06s-47.06-21.16-47.06-47.06V315.1zm47.06-188.98c-25.9 0-47.06-21.16-47.06-47.06S139 32 164.9 32s47.06 21.16 47.06 47.06v47.06H164.9zm0 23.72c25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06H47.06C21.16 243.96 0 222.8 0 196.9s21.16-47.06 47.06-47.06H164.9zm188.98 47.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06h-47.06V196.9zm-23.72 0c0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06V79.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06V196.9zM283.1 385.88c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06v-47.06h47.06zm0-23.72c-25.9 0-47.06-21.16-47.06-47.06 0-25.9 21.16-47.06 47.06-47.06h117.84c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06H283.1z"/></svg>   

      
      
      <div>
        <img src="/svg/slack.svg">
      </div>
      <div>
        <img src="/svg/slack.svg">
      </div>


</main>