<main>
  <div class='row gy-5'>
    <h1 class='text-center text-uppercase'>Hello world</h1>
    <h2 class='text-end text-lowercases'>Second</h2>
    <h3 class='text-capitalize'>Third 3 one two </h3>

    <hr />

    <div class='display-1'>Hello world</div>
    <div class='display-5'>Second</div>
    <div class='display-6'>Third</div>

    <hr />

    <div class='text-muted text-end'>Додатковий
      <span class='display-6'>текст</span></div>

    <hr />

    <button class='btn btn-primary'><span
        class='text-uppercase'
      >Button primary </span></button>

    <br />
    <br />
    <br />

    <div class='card'>
      <div class='card-body'>
        <div class='text-danger'>My text</div>
        <div class='text-muted'>My text</div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <button class='btn btn-secondary'>Додати</button>
    <button
      class='btn btn-outline-secondary'
    >Редагувати</button>
    <button
      class='btn btn-outline-warning'
    >Видалити</button>

    <hr />
    <div class='card'>
      <div class='card-body'>
        <button
          class='btn btn-secondary btn-lg'
        >Розмір</button>
        <button
          class='btn btn-secondary btn-md'
        >Розмір</button>
        <button
          class='btn btn-secondary btn-sm'
        >Розмір</button>
      </div>
    </div>

    <br />
    <br />

    <div class='card'>
      <div class='card-body'>
        This is content
      </div>
    </div>

    <hr />
    <section class='col-12'>
      <div class='card'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200.jpg'
          alt='photo'
        />
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Title</h5>
          <p>Hello world</p>
          <a href='#' class='btn btn-primary'>Open</a>
        </div>
      </div>
    </section>

    <section class='col-6'>
      <div class='card'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200.jpg'
          alt='photo'
        />
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Title</h5>
          <p>Hello world</p>
          <a href='#' class='btn btn-primary'>Open</a>
        </div>
      </div>
    </section>
    <section class='col-6'>
      <div class='card'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200.jpg'
          alt='photo'
        />
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Title</h5>
          <p>Hello world</p>
          <a href='#' class='btn btn-primary'>Open</a>
        </div>
      </div>
    </section>

    <br />
    <br />
    <br />

    <ul class='list-group'>
      <li class='list-group-item'>
        <ul class='list-group'>
          <li class='list-group-item'>Item 1.1</li>
          <li class='list-group-item'>Item 1.2</li>
        </ul>
      </li>
      <li class='list-group-item'>Item 1</li>
      <li class='list-group-item'>Item 2</li>
      <li class='list-group-item'>Item 3</li>
    </ul>
    <br />
    <br />
    <br />

    <div class='card'>
      <div class='card-header'>
        <div class='display-6'>Menu</div>
      </div>

      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          <a href='#' class='btn btn-link'>Home page</a>
        </li>
        <li class='list-group-item'>
          <a href='#' class='btn btn-link'>Summary page</a>
        </li>
        <li class='list-group-item'>
          <a href='#' class='btn btn-link'>Skills page</a>
        </li>
      </ul>
      <div class='card-footer'>
        <button class='btn btn-dark btn-sm'>Update list</button>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>
            #id
          </th>
          <th>
            name
          </th>
          <th>
            age
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>1</th>
          <td>John</td>
          <td>35</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Ivan</td>
          <td>29</td>
        </tr>
      </tbody>
    </table>

    <br />
    <br />
    <br />

    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>This is title</h6>
        <p>This is content of our box</p>
        <button class='btn btn-warning'>Click!</button>
      </div>
      <div class='card-footer text-center'>Footer</div>
    </div>

    <br />
    <br />
    <br />

    <div class='row g-5'>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card text-bg-success'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <p>This is content of our box</p>
            <button class='btn btn-warning'>Click!</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />

  </div>
</main>