<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercases'>Second</h2>
  <h3 class='text-capitalize'>Third 3 one two </h3>

  <hr />

  <div class='display-1'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>Third</div>

  <hr />

  <div class='text-muted text-end'>Додатковий
    <span class='display-6'>текст</span></div>

  <hr />

  <button class='btn btn-primary'><span
      class='text-uppercase'
    >Button primary </span></button>

  <br />
  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <div class='text-danger'>My text</div>
      <div class='text-muted'>My text</div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <button class='btn btn-secondary'>Додати</button>
  <button
    class='btn btn-outline-secondary'
  >Редагувати</button>
  <button class='btn btn-outline-warning'>Видалити</button>

  <hr />
  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Розмір</button>
      <button
        class='btn btn-secondary btn-md'
      >Розмір</button>
      <button
        class='btn btn-secondary btn-sm'
      >Розмір</button>
    </div>
  </div>

  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

</main>