<main>

  <div class='row'>

    <div class='text text-title'><h4>Список сторінок</h4></div>

    <div class='text col-6 mb-5'>Тут вам потрібно написати
      інформацію про ваш проєкт. Поки що можна написати
      будь-який текст</div>

  </div>

  <div class='row'>
    <div class='col-2 pe-5'>
      <div>

        <a
          href='/js'
          class='btn btn-primary mb-3 me-5'
        >JS</a>

        <a
          href='/car'
          class='btn btn-primary mb-3 me-5'
        >Car</a>

        <a
          href='/mac'
          class='btn btn-primary mb-3 me-5'
        >Mac</a>

        <a
          href='/facebook'
          class='btn btn-primary me-5 mb-3'
        >Facebook</a>

        <a
          href='/program'
          class='btn btn-primary me-5 mb-3'
        >Program</a>

        <a
          href='/task21'
          class='btn btn-primary mb-3 me-5'
        >Task21</a>

        <a
          href='/task22'
          class='btn btn-primary mb-3 me-5'
        >Task31</a>

        <a
          href='/task31'
          class='btn btn-primary mb-3 me-5'
        >Task22</a>

        <a
          href='/shophome'
          class='btn btn-primary mb-3 me-5'
        >Shophome</a>

        <a
          href='/shoporder'
          class='btn btn-primary mb-3 me-5'
        >Shoporder</a>

        <a
          href='/shopcart'
          class='btn btn-primary mb-3 me-5'
        >Shopcart</a>

        <a
          href='/shopreview'
          class='btn btn-primary mb-3 me-5'
        >Shopreview</a>

      </div>

    </div>

  </div>
</main>