{{#with footer}}
      <footer>        
        <hr />
        <br />
        <div>
        {{#with social}}        
            {{> link text=email.text href=email.href blank=true noLine=true }}
            {{> link text=phone.text href=phone.href noLine=true }}
            {{> link text=linkedin.text href=linkedin.href blank=true noLine=true }}
        {{/with}}
        {{#unless noLine}}
          {{#if line}}
            /
          {{/if}} 
        {{/unless}}
        </div>
        <br>
        <div>
          <em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
        </div>
        <br>
        <div>
          <em>My address {{../header.address}}</em>
        </div>
      </footer>
    {{/with}}